.about {
    background-color: var(--bg-main-grey);
    color: var(--color-main-black);
    padding: 58px 30px 100px;
    text-align: center;
}

.about-title {
    font-weight: 700;
    font-size: 34px;
    margin: 0 0 42px 0;
}

.about-subtitle-ru,
.about-subtitle-en {
    font-weight: 500;
    font-size: 18px;
    margin: 0 auto 15px auto;
    max-width: 780px;
}

.about-description-ru,
.about-description-en {
    font-weight: 500;
    font-size: 18px;
    margin: 0 auto 15px auto;
    text-align: justify;
    max-width: 780px;
}
.about-subtitle-en {
    margin: 15px auto 15px auto;
}
.about-description-en {
    margin: 0 auto;
}

@media (max-width: 480px) {
    .about-subtitle-ru,
    .about-subtitle-en,
    .about-description-ru,
    .about-description-en {
        font-size: 14px;
    }
}
