.portfolio {
    background-color: var(--bg-main-grey);
    text-align: center;
    padding: 80px 20px 105px;
    color: var(--color-main-black);
}

.portfolio-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 70px;
}

.portfolio-picture {
    /* width: 100%;
    max-width: 950px; */
    width: min(950px, 100%);
    height: min(630px, 100%);
    object-fit: cover;
}
.portfolio-description {
    margin-top: 40px;
    font-weight: 500;
    font-size: 18px;
}
.portfolio-description:not(:last-child) {
    margin-bottom: 95px;
}

@media (max-width: 480px) {
    .portfolio {
        padding: 40px 20px 50px;
    }
    .portfolio-title {
        margin-bottom: 50px;
    }
    .portfolio-description {
        margin-top: 30px;
        font-size: 14px;
    }
    .portfolio-description:not(:last-child) {
        margin-bottom: 50px;
    }
}
